<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste des Utilisateurs</title>
    <style>
        body { font-family: Arial, sans-serif; text-align: center; }
        table { width: 60%; margin: auto; border-collapse: collapse; }
        th, td { border: 1px solid black; padding: 8px; text-align: left; }
    </style>
</head>
<body>
    <h1>Liste des Utilisateurs</h1>

    <table>
        <thead>
            <tr>
                <th>Nom d'utilisateur</th>
                <th>Voir Conversations</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.userName}"></td>
                <td><a th:href="@{/users/{id}/messages(id=${user.id})}">Voir</a></td>
            </tr>
        </tbody>
    </table>
    <br>
    <a href="/">Retour au Chatbot</a>
</body>
</html>
